// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// -webkit-scrollbar{
//     background: transparent;
// }

.new-release-wrapper{
    width: 59%; 
    max-height: 28em;
    position: relative;
    float: left;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: 1%;
    // scrollbar-width: none;  /* Firefox */
   
}

.page-container{
    margin-top: 50px;

}
.new-video-wrapper{
    width: 59%; 
    max-height: 15em;
    position: relative;
    float: left;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: 1%;
    // scrollbar-width: none;  /* Firefox */
   
}

.new-songs-wrapper{
    width: 59%; 
    max-height: 28em;
    position: relative;
    float: left;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: 1%;
    // -ms-overflow-style: none;  /* Internet Explorer 10+ */
    // scrollbar-width: none;  /* Firefox */

}

.new-songs-wrapper.new-release-wrapper::-webkit-scrollbar{
    display: none;  /* Safari and Chrome */
}

.column{
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    max-width: 310px;
    overflow: auto;
}
.album{
    height: 200px;
    width: 120px;
    float: left;
    margin-right: 10px;
}

.album-art{
    width: 120px;
    height: 137px;
    border-radius: 4px;

}
.artwork{
    width: 100%;
    height: 21em;
    overflow: hidden;  
    position: relative;
}

.artwork img{
    float: left;
    clear: right;
    margin-right: 10px;
}
.artwork-title{
    position: relative;
   
}

.links-tab{
    width: 80%;
    margin-left: 21em;
}
.artwork-details{
    float: left;
    max-width: 21em;
    overflow: hidden;
    white-space: nowrap;
}
.album-art img{
    border-radius: 4px;
    width: 120px;
    height: 137px;
}

.song{
    width: 100%;
    min-height: 60px;
    padding-bottom: 8px;
    float: left;
    line-height: 1.4;
}
.song-art{
    width: 20%;
    position: relative;
    float: left;
    clear: both;
    margin-right: 10px;
    display: block;
}
.song-art img{
    opacity: 1;
    width: 68px;
    height: 68px;
    border-radius: 4px;

}
.song-title-wrapper{
    font-size: 15px;

}
.song-title{
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
}

.song-artist{
    color: #4d4d4d4d;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .2s;
}
a{
    text-decoration: none;
    cursor: pointer;
} 

a:hover{
    text-decoration: none;
}
a:visited{
    color: black;
}

.category-header{
    font-size: 25px;
    clear: both;
    width: 59%;

}
.see-more{
    float: right;
    font-weight: 700;
    padding-top: 10px;
    font-size: 13px;
}

.see-more a{
    color: #da0f47;
    text-decoration: none;
    cursor: pointer;
}
.see-more a:hover{
    text-decoration: none;
    cursor: pointer;
}

aside{
    float: right;
    width: 40%;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;        
    margin-top: -auto;
    background-color: darkslategrey;
  }